body{
    margin: 0;
    left: 0;
    top: 0;

    font-family: Arial, Helvetica, sans-serif;

    overflow-x: hidden;
}


/*NAV*/
nav{
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    
    background-color: #556B2F;
    color: #EFF5D2;
}

nav >{
    margin: 0 10px;
}
#ancoras-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
}

.link{
    text-decoration: none;
    color: #EFF5D2;
    transition: 0.3s ease;
}

.link:hover{
    color: #c6ccaa;
}

@media(max-width: 600px){
    #ancoras-nav{
        gap: 1rem;
    }
}
/*MAIN*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

main h1{
    color: #556B2F;
    margin: 0 30px;
    text-align: center;
}

main a{
    background-color: #556B2F;
    color: #EFF5D2;
    text-decoration: none;
    border: solid 1px #556B2F;

    padding: 1rem;
    border-radius: 50px;
    transition: 0.5s ease;
}

main a:hover{
    color: #556B2F;
    background-color: #ffffff00;
}

/*SOBRE*/
#sobre{
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: fit-content;
    padding: 40px;

    justify-content: center;
    align-items: center;
}

#sobre h2{
    font-size: 2rem;
}

#conteudo{
    display: flex;
    flex-direction: row;

    width: 70vw;
}

#conteudo img{
    border-radius: 20px;
}

@media(max-width: 1200px){
    #conteudo{
        display: flex;
        flex-direction: column;
    }
}

/*FOOTER*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #556B2F;
    color: #EFF5D2;

    padding: 20px;
}

/*PRODUTOS*/
#produtos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: fit-content;
    width: 100vw;
    margin: 50px 0;
}

#produtos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    width: 60vw;
}

.produto{
    background-color: #EFF5D2;
    border-radius: 10px;
    padding: 1rem;

    text-align: center;
    color: #556B2F;
}

.produto img{
    width: 15rem;
    border-radius: 10px;
}

@media(max-width: 1200px){
    #produtos-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 800px){
    #produtos-grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}

/*CONTATO*/

#contato{
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contato h2{
    color: #556B2F;
}

#contato form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;
}

#contato form > .input, textarea{
    background-color: #f6f8e9;
    border: solid 1px #556B2F;
    width: 40vw;
    padding: 5px;
    border-radius: 10px;
}

.input{
    height: 40px;
    border-radius: 50px;
}

#submit{
    height: 20px;
    border-radius: 50px;
    padding: 1rem 2rem;
    background-color: #556B2F;
    color: #c6ccaa;
    text-decoration: none;
    border: solid 1px #556B2F;

    width: fit-content;

    transition: 0.3s;
}

#submit:hover{
    color: #556B2F;
    background-color: #ffffff00;
}

@media(max-width: 700px){
    #text-area, .input{
        width: 80vw;
    }
}